* {
  box-sizing: border-box;
}

nav a {
  margin: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 > a {
  text-transform: lowercase;
  text-decoration: none;
  color: inherit;
}

h3 {
  margin: 0;
}

form * {
  display: block;
  margin: 10px;
  width: 300px;
  font-size: 16px;
  font-family: inherit;
}

input[type="submit"] {
  width: auto
}

form .description {
  width: 500px;
  height: 200px;
  float: none;
  overflow: scroll;
}

.login {
  float: right;
}

.escapade {
  border: 3px ridge;
  margin: 10px;
  display: inline-block;
  padding: 10px;
}

.escapade *:not(.thumbnail) {
  max-width: 100%;
  display: block;
  margin: 0px auto 10px auto;
}

.thumbnail {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.thumbnail a {
  text-decoration: none;
  color: inherit
}

.description {
  width: 60%;
  min-width: 400px;
  float: left;
}

.timeframe {
  width: calc(40%-10px);
  display: inline-block;
  float: left;
  margin: 20px;
}

.user-escapades {
  float: left;
  max-width: 70%;
}

.user-friends {
  display: inline-block;
  float: left;
}

.timeframe * {
  display: block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

li {
list-style: none;
}

.edit-response * {
  display: block;
}

.edit-response a {
  margin: 10px;
}
