<% if @responses.empty? %>
  <h2>No one has responded yet</h2>
<% else %>
  <h2>Responses:</h2>
  <% @responses.each do |response| %>
    <h3><%= response.user.email %></h3>
      <% response.availabilities.each do |availability| %>
      <ul>
        <li>
          <%= "#{format_date(availability.start_date)} - #{format_date(availability.end_date)}"%>
        </li>
      </ul>
      <% end %>
  <% end %>
<% end %>
